.header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

a {
  color: black;
  text-decoration: none;
  margin: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-top: -8px;
}

.icon2 {
  width: 25px;
  height: 25px;
  margin-top: -5px;
}

.icon3 {
  width: 40px;
  height: 40px;
  margin-top: -13px;
}

.container {
  margin-top: 180px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container_children {
  align-self: center;
}

.logo {
  width: 272px;
  margin-left: 120px;
  margin-bottom: 30px;
}

.search_bar {
  width: 500px;
  height: 40px;
  margin-bottom: 20px;
}

.button_container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.button {
  margin: 5px;
  width: 150px;
  height: 30px;
}
