.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.top_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.results_logo {
  width: 100px;
  height:40px;
  /*margin-top: 20px;*/
  margin-right: 10px;
}

.search_bar {
  /*width: 500px;*/
  /*height: 40px;*/
  /*margin-top: -40px;*/
}

.header {
  display: flex;
  align-self: flex-end;
  margin-top: 10px;
}

a {
  color: black;
  text-decoration: none;
  margin: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-top: -8px;
}

.icon2 {
  width: 25px;
  height: 25px;
  margin-top: -5px;
}

.icon3 {
  width: 40px;
  height: 40px;
  margin-top: -13px;
}
