.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 500px;
  min-width: 500px;
}

.nav {
  width: 100%;
  margin: 1%;
  height: 100%;
  border: 1px solid black;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav_row1 {
  border: 1px solid black;
  width: 98%;
  margin-left: 1%;
  margin-bottom: 5px;
  margin-top: 5px;
  flex: 1;
}

.nav_row2 {
  border: 1px solid black;
  width: 50%;
  margin-left: 10%;
  margin-bottom: 5px;
  flex: 1;
}

.below_nav {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex: 4;
}

.news_and_results {
  border: 1px solid black;
  margin: 1% 1% 1% 10%;
  flex: 1.35;
  display: flex;
  flex-direction: column;
}

.news {
  margin: 1%;
  border: 1px solid black;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.articles {
  margin: 1%;
  border: 1px solid black;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.article_pic, .article_description {
  margin: 1%;
  border: 1px solid black;
  flex: 1;
}

.results {
  margin: 1%;
  border: 1px solid black;
  flex: 3;
  display: flex;
  flex-direction: column;
}

.search_result {
  margin: 1%;
  border: 1px solid black;
  flex: 1;
}

.wiki {
  border: 1px solid black;
  margin: 1%;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 50%;
}

.wiki_row_lg {
  border: 1px solid black;
  margin: 1%;
  flex: 3;
}

.wiki_row_md {
  border: 1px solid black;
  margin: 1%;
  flex: 2;
}

.wiki_row_sm {
  border: 1px solid black;
  margin: 1%;
  flex: 1;
}
